#SQLLITE_PATH=''
SLACK_TOKEN=''
API_USERNAME = ''
API_PASSWORD = ''
SLACK_CHANNEL='#thewarpath'
TICKS_BETWEEN_MESSAGES=60
BATTLE_RATELIMIT=100
NUKE_RATELIMIT=1000

TWITTER_CONSUMER_KEY= ''
TWITTER_CONSUMER_SECRET= ''
TWITTER_ACCESS_TOKEN_KEY= ''
TWITTER_ACCESS_TOKEN_SECRET= ''

SEND_TO_SLACK=True
SEND_TO_TWITTER=True

REDIS_HOST='localhost'
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_PREFIX='leaguebot:'
# REDIS_PASSWORD=''

DEBUG_LOGGING=false
